Flask==1.1.2
h5py==2.10.0
Jinja2==2.11.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
nltk 
numpy 
Pillow 
tensorboard==1.14.0
tensorboard-plugin-wit==1.7.0
tensorflow 
tf-estimator-nightly==2.4.0.dev2020102301
tf-nightly==2.5.0.dev20201124
urllib3==1.26.2
Werkzeug==1.0.1
wordcloud==1.8.1
wrapt==1.12.1
json
pickle
gensim
tqdm